// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  text-align: right;
}
.posts {
  border-bottom: dashed 1px #a6a6a6;
}
.col-7 {
  padding-top: 10px;
}

.admin_post_show .btn_area{
  text-align: end;
  margin: 0 6% 10px 0;
}
.admin_post_show .map_and_comment_area {
  margin-top: 50px;
}
