// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  text-align: right;
}
.admin_posts {
  border-bottom: dashed 1px #a6a6a6;
  padding: 3px 0;
}
.col-7 {
  padding-top: 10px;
}
.admin_posts .label {
  font-weight: 500;
  padding: .2em .6em .3em;
  font-size: 75%;
  line-height: 1;
  color: #2b00ff;
  border: solid 1px #2b00ff;
  text-align: center;
  border-radius: .25em;
}

.admin_post_show .btn_area{
  text-align: end;
  margin: 10px 6% 10px 0;
}
.admin_post_show .image {
  margin-bottom: 10px;
}
.admin_post_show .map_and_comment_area {
  margin-top: 50px;
}
.admin_post_show td {
  border-bottom: dashed 1px #a6a6a6;
}
.admin_post_show .label {
  font-weight: 500;
  padding: .2em .6em .3em;
  font-size: 75%;
  line-height: 1;
  color: #2b00ff;
  border: solid 1px #2b00ff;
  text-align: center;
  border-radius: .25em;
}