// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  text-align: right;
}
.posts {
  border-top-style: dashed;
  border-color: #bdae99;
}
.col-7 {
  padding-top: 10px;
}

.admin_post_show .btn_area{
  text-align: end;
}
.admin_post_show .map_and_comment_area {
  margin-top: 50px;
}
