// Place all the styles related to the admin/post_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_post_comments .row-fluid {
  border-bottom: dashed 1px #a6a6a6;
}
.admin_post_comments .row-fluid {
  width: 100%;
  margin-bottom: 15px;
}
.admin_post_comments .search {
  text-align: right;
}
.admin_post_comments .label {
  font-weight: 500;
  padding: .2em .6em .3em;
  font-size: 75%;
  line-height: 1;
  color: #2b00ff;
  border: solid 1px #2b00ff;
  text-align: center;
  border-radius: .25em;
}