<div class="top_text">
  <h2>machiburaへようこそ</h2>
  <p>このサイトは、街ブラ記録、共有サイトです。</p>
  <p>街ブラの思い出を記録したり、共有したりし、<br>
    また、様々な方の視点からその街の新たな魅力を知るきっかけになれば幸いです。</p>
  <p>会員でない方も投稿、コメントができます。お気軽にご利用ください。</p>
  <span class="small">会員登録でできること<br>
    お気に入り機能 / 登録後の投稿・コメントの削除 / 登録後の投稿コメントの履歴閲覧</span>
</div>
<div class="top_img">
<div class="bxslider">
  <% @posts.each do |post| %>
  <ul>
    <li><%= attachment_image_tag post, :image,size:"450x300", fallback:"no_image_square.jpg" %></li>
  </ul>
  <% end %>
</div>
</div>