/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// application.html.erb
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#wrapper .container-fluid {
  padding-top: 65px;
  z-index: 1;
  margin: 0;
  position: relative;
}
.application_row {
  padding-top: 15px;
}
.main_content {
  display: inline-block;
  width: 75%;
  padding-top: 10px;
  margin-left: 22%;
}

// _header.html.erb
header {
  padding: 10px 0 0 0;
  position: fixed;
  z-index: 2;
  height: 65px;
  width: 100%;
  background: white;
  background-image: url("hoge.jpg");
}
.logo {
  position: fixed;
  left: 5px;
}
.navbar {
  padding: 0 3% 0 0;
  height: 50px;
  justify-content: flex-end;
}
.navbar-collapse {
  padding: 15px;
  background-color: white;
}
.navbar li {
  padding-top: 10%;
}
li a {
  color: #523f27;
}
#application_flash_message {
  position: fixed;
  padding: 10px 0 0 3%;
  color: #237540;
}

// _sidebar.html.erb
.sidebar {
  display: inline-block;
  position: fixed;
  width: 17%;
  padding: 0 0 0 1%;
}
.sidebar .search {
  margin-top: 10px;
  padding-top: 15px;
}
.sidebar .index_link {
  margin-top: 10px;
}
.sidebar .btn {
  margin: 5px 0 0 70%;
}

// _footer.html.erb
footer {
  margin-top: auto;
}
.copyright {
  margin: 1rem;
}

// _pagetop.html.erb
// TOPへ戻るボタンの位置を設定
#pagetop {
  z-index: 2;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
// ボタンを円状にし、外枠を表示する
#pagetop a {
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  background-color: white;
}
// サイズ指定、ボタンの中心に表示する
.pagetop a i {
  font-size: 20px;
  line-height: 40px;
}

// favorites/index.html.erb
.favorite_btn {
  text-align: right;
}
// _favorite_btn.html.erb
.star_orange{color:#ffa90a;}
.star_gray{color:#a1a1a1;}

.pagination {
  margin-left: 25%;
}

p {
  margin-bottom: 0;
}

.error_messages {
  color: #d60000;
}