// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_contact {
  padding: 0 20% 0 5%;
}
.new_contact h4 {
  margin-bottom: 15px;
}

.confirm_contact h4 {
  margin-bottom: 10px;
  border: none;

}

.contacts_complete {
  margin: 15% 0 0 26%;
}