// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash_message p {
  color: #ff8c00;
}

.favorites_index td {
  border-bottom: dashed 1px #a6a6a6;
}
.favorites_index p {
  margin: 0;
}
.favorites_index .label {
  font-weight: 500;
  padding: .2em .6em .3em;
  font-size: 75%;
  line-height: 1;
  color: #2b00ff;
  border: solid 1px #2b00ff;
  text-align: center;
  border-radius: .25em;
}