// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_text {
  margin-bottom: 5%;
  padding-left: 10%;
}
h2 {
  display: inline-block;
  border-bottom: double #a6a6a6;
}
.top_img {
  margin: 0 35% 0 16%;
}