// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_text {
  margin-bottom: 5%;
  padding-left: 10%;
}
.top_img {
  margin: 0 35% 0 16%;
}
.bxslider ul {
  padding: 0;
}
