// Place all the styles related to the PostComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index.html.erb
.post_comments {
  margin-bottom: 5px;
}
.my_post_comments {
  margin-bottom: 10px;
}
.my_post_comments p {
  font-size: 25px;
  margin-bottom: 0;
}