// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new.html.erb
.new_post {
  display: block;
  text-align: center;
  margin-right: 30%;
}
.new_post .text {
	text-align: left;
	display: inline-block;
}
.new_post .space {
  margin-bottom: 10px;
}

.posts_index p {
  margin: 0;
}
.posts_index td {
  padding: 5px 15px 5px 20px;
  border-bottom: dashed 1px #a6a6a6;
}

// show.html.erb
.post_show td {
  border-bottom: dashed 1px #a6a6a6;
}
.map_and_comment_area td {
  border-bottom: none;
}
.post_show .image_area {
  padding-right: 20px;
}
.post_show p {
  margin: 0;
}
.map_and_comment_area {
  margin-top: 20px;
}
.map {
  display: inline-block;
  padding: 0 50px 0 20px;
}
#map{
  height: 250px;
  width: 350px;
  position: fixed;
  top: 0;
}
.post_show .error_messages {
  width: 400px;
}

.posts_ranking .containt {
  margin-left: 2%;
}
.posts_ranking .rank {
  margin-left: 5%;
}
.posts_ranking .image {
  left: 5%;
}
.posts_ranking .col-8 {
  left: 2%;
  width: 660px;
}
.posts_ranking tbody {
  border-bottom: dashed 1px #a6a6a6;
}
.posts_ranking p {
  margin: 0;
}