// Place all the styles related to the PostComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index.html.erb
.post_comments {
  margin-bottom: 5px;
}
.my_post_comments {
  margin-bottom: 10px;
}
.my_post_comments p {
  font-size: 25px;
  margin-bottom: 0;
}
.post_comments_index td {
  border-bottom: dashed 1px #a6a6a6;
}
.post_comments_index .label {
  font-weight: 500;
  padding: .2em .6em .3em;
  font-size: 75%;
  line-height: 1;
  color: #2b00ff;
  border: solid 1px #2b00ff;
  text-align: center;
  border-radius: .25em;
}