// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// devise/registrations/new.html.erb
.registrations {
  display: block;
  text-align:center;
  padding: 5% 35% 0 15%;
}
.registrations .text {
	text-align: left;
	display: inline-block;
	width: 50%;
}
.registrations .error_messages {
  width: 300px;
}
.registrations .btn {
  padding: 8px 0 5px 0;
}

// devise/sessions/new.html.erb
.sessions {
  display: block;
  text-align: center;
  padding: 7% 35% 0 15%;
}
.sessions .text {
	text-align: left;
	display: inline-block;
	width: 50%;
}
.sessions .error_messages {
  width: 300px;
  left: -10%;
}

// show.html.erb
.user_name {
  position: fixed;
  top: 9%;
  padding-top: 1%;
  width: 100%;
  background-color: white;
  z-index: 2;
}
.user_show .link {
  position: fixed;
  margin-top: 5%;
  z-index: 1;
}
.user_posts {
  position: relative;
  padding-top: 8%;
  margin-left: 20%;
}
.user_post {
  margin-bottom: 10px;
}

// edit.html.erb
.edit_user {
  display: block;
  text-align:center;
  padding: 7% 35% 0 15%;
}
.edit_user .text {
	text-align: left;
	display: inline-block;
	width: 50%;
}
.edit_user .space {
  margin-bottom: 10px;
}
.edit_user .error_messages {
  width: 300px;
  left: -10%;
}

// unsubscribe.html.erb
.unsubscribe {
  margin-top: 7%;
  margin-left: 20%;
}
.unsubscribe .text {
  text-align: left;
}
.unsubscribe .btns {
  margin: 3% 0 0 10%;
}